<!DOCTYPE html>
<html>
    <head>
        <title>Shirley's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Shirley's Blog</a></h1>
        </header>

        <article>
            <time>published: 18.05.2025, 5:07</time>
            <h2><a href ="">My first post</a></h2>
            <p>Hello, this is my first post on my blog. I am currently learning Django.</p>
        </article>

        <article>
            <time>published: 18.05.2025, 5:09</time>
            <h2><a href ="">My second post</a></h2>
            <p>Hello, this is my second post on my blog. I am trying out HTML for the first time.</p>
        </article>
    </body>
</html>